@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --accent-blue: rgb(23, 147, 212);
    --accent-yellow: rgb(241, 177, 52);
    --background-grey: rgb(225, 232, 239);
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    height: 1em;
}

.user-icon {
    height: 4em;
    border-radius: 50%;
}

.sidebar {
    background-color: var(--accent-blue);
    color: white;
    padding: 0.8rem;
}

.sidebar svg {
    fill: white;
}

.logo-box,
.nav-item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo-box {
    font-size: 1.7rem;
    gap: 10px;
}

.logo-box .icon {
    height: 1.5em;
}

nav {
    display: grid;
    gap: 15px;
    font-size: 1.2rem;
    padding: 2rem 0.8rem;
}

.nav-item {
    gap: 20px;
}

.nav-item:nth-child(7) {
    margin-top: 30px;
}

/* .container {
    padding: 1rem;
} */

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem 2rem;
    padding: 1rem 2rem;
}

header form {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .icon {
    height: 1.5em;
}

input {
    width: 100%;
    border: none;
    background-color: var(--background-grey);
    border-radius: 20px;
}

.user-account {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-self: right;
    margin-right: 1rem;
    font-weight: bold;
}

.user-account .user-icon {
    height: 2.5em;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.header-buttons button {
    height: 2.5rem;
    border: none;
    background-color: var(--accent-blue);
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.user-greeting-box {
    display: grid;
    grid-template-columns: 4em 1fr;
    align-items: center;
    gap: 20px;
}

.user-greeting p {
    font-weight: bold;
    font-size: 1.5rem;
    justify-self: left;
    padding: 0;
    margin: 0;
}

.user-greeting p:first-of-type {
    font-size: 0.8rem;
}

.main-content {
    background-color: var(--background-grey);
}

.project-card {
    background-color: white;
}

.project-icons {
    display: flex;
}